<figure class="map">
	<a href="https://osm.org/go/0BOf~H5R?layers=T&m=&way=81855995" title="lien vers la carte OpenStreetMap">
		<img class="profile_image" src="img/team-860w.jpg" alt="Carte centrée sur les Chaudronneries à Montreuil"
			srcset="img/map-chaudronneries.jpg">
	</a>
	<figcaption>Notre résidence : <a href="http://unchaudronsurlefeu.com">les Chaudronneries, résidence d'économies
			sociétales</a>, au <strong>124 rue de Rosny à Montreuil</strong></figcaption>
</figure>
