<div class="header">
	<h1 class="site-title">{{ .Site.Title }}</h1>


	<img class="profile_image" src="img/team-860w.jpg"
		alt="Portrait de l'équipe Good Impact : Eric à gauche, Yaacov au centre et Manuel à droite" srcset="img/team-264w.jpg 264w,
							img/team-424w.jpg 424w,
							img/team-528w.jpg 528w,
							img/team-848w.jpg 848w,
							img/team-860w.jpg 860w,
							img/team-1417w.jpg 1417w" sizes="(max-width: 320px) 264px,
							(max-width: 480px) 424px,
							(max-width: 640px) 528px,
							(max-width: 960px) 848px
			860px">

	{{- if isset .Site.Params "subtitle" -}}
	<h2>{{ .Site.Params.Subtitle | markdownify }}</h2>
	{{- end -}}

	<nav class="nav social">
		<ul class="flat">
			{{- range $index, $key := .Site.Params.Social -}}
			<li>
				<a href="{{ $key.url }}" title="{{ $key.name }}" lang="en">
					{{ partial "svg" (dict "id" $key.icon "class" "optional-class" "width" 32 "height" 32) -}}
				</a>
			</li>
			{{- end -}}
			{{ if or (.Site.Params.blog) (.Site.Params.cv_name) }}
			|
			{{- with .Site.Params.blog -}}
			<li><a href="{{ . }}" class="blog_cv">[blog]</a></li>
			{{- end -}}

			{{ with .Site.Params.cv_name }}
			<li><a href="{{ . }}" class="blog_cv">[cv]</a></li>
			{{ end }}
			{{ end }}
		</ul>
	</nav>


	<nav class="nav">
		<ul class="flat">
			{{ range .Site.Menus.main }}
			<li><a href="{{ .URL }}">{{ .Name }}</a></li>
			{{ end }}
		</ul>
	</nav>
</div>
