<section class="introduction">
	{{- range $index, $key := .Site.Params.Introduction.paragraph -}}
	<span>
		{{ $key.text  | markdownify }}
	</span>
	<br>
	{{- end -}}
	<span>
		Nos centres d'intérêt : <b>{{ $.Site.Params.interests | markdownify }}</b>
	</span>
</section>
