<section class="introduction">
	{{ with .Site.Params.publications }}
	<h3>Publications</h3>

	{{- range $index, $publications := $.Site.Params.publications -}}
	<div class="year">{{ $publications.year }}</div>

	<ul>
		{{ range $elem_index, $publication := $publications.paper }}
		<li>
			{{ if $publication.link }}
			<a href="{{ $publication.link }}" class="publications"> {{ $publication.name }}, </a>
			{{ else }}
			<p class="publications"> {{ $publication.name }}, </p>
			{{ end }}
			{{ $publication.dest | markdownify }}.

			{{ if or ($publication.code_link) $publication.blog_link }}
			<span class="code_blog">
				{{ with $publication.code_link }}
				[<a href="{{ $publication.code_link }}">code</a>]
				{{ end }}

				{{ with $publication.blog_link }}
				[<a href="{{ $publication.blog_link }}">blog</a>]
				{{ end }}
			</span>
			{{ end }}

			<span class="collaborators">
				{{ $publication.authors | markdownify }}
			</span>
		</li>
		{{ end }}
	</ul>
	{{- end -}}
	{{- end -}}
</section>
