<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}

	<body>
		<div class="container wrapper">
			{{ partial "head.html" . }}
			{{ partial "introduction.html" . }}
			{{ partial "projects.html" . }}
			{{ partial "publications.html" . }}
			{{ partial "carte.html" . }}
		</div>
		{{ partial "footer.html" . }}
	</body>

</html>
